/tarea2/target/
/Ejercicio2/nbproject/private/
/trabajo2/target/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/trabajo2Ejercicio2/target/
/Ejercicio4.3.1/nbproject/private/
/URLEjercicio1/target/